@import "globals";

.TimelineBox{
    position: relative;
    //margin-left: auto;
    //margin-right: 2rem;
    box-shadow: 0px 0px 7px 10px $col2;

    border-radius: 20px;
    padding: 20px;
    //text-align: center;
    width: 45%;
    background-color: $col2;
    font-size: calc(10px + 1vmin);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    text-align: left;


    //position: relative;
    //margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    //color: black;
    /*text-decoration: inherit;*/

    &:is(h1, h2, h3, h4, h5, h6){
        margin-top: 0px;
        /*position: relative;*/
        /*float: left;*/
        /*width: 100%;*/
    }
}

:root {
    --box_margins: 10rem;
}

@media (min-width: 800px) {
    .TimelineBox{
        margin-left: var(--box_margins);
        margin-right: var(--box_margins);
        float: right;
    }

    .TimelineRow:nth-child(odd) > div{
        margin-right: var(--box_margins);
        margin-left: var(--box_margins);
        float: left;
        /*background-color: #00ffff;*/
    }
}

/*@media (max-width: 1200px) {*/
/*    .TimelineRow.leftAlign > footer{*/
/*        right: auto;*/
/*        left: 30px;*/
/*    }*/
/*}*/

/*.TimelineBox:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
/*}*/

:global {
    .fade-in{
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.4, 0, 1, 5);

        &.is-visible{
            opacity: 1;
        }
    }
}
