.Timeline_box{
    position: relative;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
    text-align: center;
    width: 45%;
    background-color: azure;
    font-size: calc(10px + 1vmin);
    /*padding-top: 60px;*/
}

.Timeline_box > h1{
    position: relative;
    /*float: center;*/

    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.Timeline_box{
    position: relative;
    float: left;
    /*float: center;*/

    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}


.Timeline_box > footer{
    position: absolute;
    /*left: 100%;*/
    right: 30px;
    /*transform: translate(-50%, -50%);*/

    /*position: relative;*/
    /*float: right;*/

    padding: 0.5em;
    background-color: #282c34;
    color: white;
    z-index: 1;
}

.Timeline_box > footer:hover{
    background-color: azure;
    color: black;
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    /*transition: opacity 2s ease-in-out;*/
    transition: opacity 1s cubic-bezier(0.4, 0, 1, 5);
}

/* When the div becomes visible, change its opacity to 1 */
.fade-in.is-visible {
    opacity: 1;
}
